.grainTextureSVG {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  /* width: 100vw; */
  min-height: 300px;

  opacity: 0.2;
  z-index: -1;
  overflow: visible;
}

.grainTextureSVG > g {
  /* width: 100%; */
  display: block;
  /* position: absolute; */
  left: 0;
  transform: rotate(45deg);
  transform-origin: 50%;
}
