.gridPaperTexture {
  /* display: none; */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  width: 100vw;
  min-height: 300px;

  opacity: 0.8;
  z-index: -1;
  transform: translate(40%, 900px);
  overflow: visible;
  pointer-events: none;
}
/* // move some of this out to the home instance only */

.gridPaperTexture > g {
  /* width: 100%; */
  display: block;
  /* position: absolute; */
  left: 0;
  transform: rotate(45deg);
  transform-origin: 50%;
}
