.sineShine {
  /* border: 8px saddlebrown tomato; */
}
.sineShine path {
  fill: none;
  stroke: var(--yellow-1);
  stroke-miterlimit: 10;
  stroke-width: 9px;
  stroke-linecap: round;
}

.purple path {
  stroke: var(--purple-2);
}
