.homeHeader {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 440px;
  z-index: 2;
}

.lindy {
  position: absolute;
  right: -110px;
  width: 180px;
  top: -10px;
  z-index: 1;
}
@media screen and (min-width: 50rem) {
  .lindy {
    position: absolute;
    right: -520px;
    width: 600px;
    top: -10px;
  }
}

@media screen and (min-width: 80rem) {
  .lindy {
    position: absolute;
    right: -860px;
    width: 900px;
    top: -50px;
  }
}

.siteTitle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.siteTitle__welcometo {
  text-align: center;
  font-family: var(--font-script);
  font-size: 1.6rem;
  transform: translateY(0.25rem);
}

.siteTitle__logo {
  transform: scale(0.7);
}

@media screen and (min-width: 30rem) {
  .siteTitle__logo {
    transform: scale(1);
  }
}

@media screen and (min-width: 30rem) {
  .siteTitle__welcometo {
    font-size: 1.4rem;
  }
}

.siteTitle__mazmatics {
  font-size: 2.5rem;
}
@media screen and (min-width: 30rem) {
  .siteTitle__mazmatics {
    font-size: 4rem;
  }
}

.siteTitle__promise {
  font-family: var(--font-copy);
  /* font-family: var(--font-script); */
  font-size: 1.1rem;
  margin: 0;
  margin-top: 5px;
  width: 120px;
  text-align: center;
  /* margin-top: 0.5rem; */
}
@media screen and (min-width: 30rem) {
  .siteTitle__promise {
    font-size: 1.4rem;
    width: 100%;
  }
}

.charCircleBettyPositioner {
  --bettySize: 200px;
  transform: rotate(15deg);

  position: absolute;
  top: 0;
  left: -110px;
  z-index: -1;
}
@media screen and (min-width: 30rem) {
  .charCircleBettyPositioner {
    --bettySize: 250px;
    transform: rotate(27deg);
    top: -1rem;
    left: -120px;
    z-index: -1;
  }
}
@media screen and (min-width: 50rem) {
  .charCircleBettyPositioner {
    --bettySize: 500px;
    top: -3rem;
    left: -385px;
    z-index: -1;
  }
}
@media screen and (min-width: 80rem) {
  .charCircleBettyPositioner {
    --bettySize: 700px;
    /* transform: rotate(-0deg); */

    position: absolute;
    top: -5rem;
    left: -575px;
    z-index: -1;
  }
}
@media screen and (min-width: 100rem) {
  .charCircleBettyPositioner {
    top: -5rem;
    left: -565px;
  }
}
