.banner {
  --container-padding: 2rem;
  --home-waves-y-adjust: -4rem;
}

.banner {
  position: relative;

  font-family: var(--font-headings-fun);
  font-size: 1.8rem;
  /* background-color: var(--purple-2); */
  padding: 0;
  min-width: 100%;
  /* margin-left: calc(var(--site-container-padding) * -2);
  margin-right: calc(var(--site-container-padding) * -2); */
}

@media screen and (min-width: 50rem) {
  .banner {
    /* padding: calc(var(--container-padding) / 2) var(--container-padding); */
    /* border: 3px solid red; */
    font-size: 6rem;
  }
}

.banner p {
  text-align: center;
  margin: 0;
}

/* .banner::before,
.banner::after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: -1;
  text-align: center;
} */

.banner::before {
  left: -50vw;
}
/* .banner::after {
  right: -50vw;
} */

@media screen and (min-width: 50rem) {
  .banner::before,
  .banner::after {
    /* width: calc(var(--container-padding) + 1px); */
  }
}

.banner::before {
  /* width: 100vw;
  z-index: -1; */
  /* left: -50%; */
}

/* .banner::after {
  right: calc(-1 * var(--container-padding));
} */

/* sizes */
.small {
  /* margin: 0; */
  line-height: 1.2;
  font-size: 2.2rem;
  margin-bottom: 0;
  /* padding-left: var(--container-padding);
  padding-left: var(--container-padding); */
}
@media screen and (min-width: 30rem) {
  .small {
    font-size: 2rem;
  }
  /* line-height: 1.5; */
}

.med {
  line-height: 1.2;
  margin-bottom: 0;
}

.banner__mainText {
  /* font-family: var(--font-headings-fun); */
  font-family: var(--font-headings);
}

.med .banner__mainText {
  margin: 4rem 0;
  font-size: 3.2rem;
  font-weight: bold;
  margin: 0;
}

@media screen and (min-width: 50rem) {
  .med .banner__mainText {
    font-size: 5.5rem;
    font-weight: bold;
  }
}
@media screen and (min-width: 60rem) {
  .med .banner__mainText {
    font-size: 3rem;
    font-size: 6.5rem;
    /* font-family: 'Bungee Shade', cursive; */
    /* background-color: gold; */
  }
}
@media screen and (min-width: 80rem) {
  /* .med {
    font-size: 1.8rem;
  } */
  .med .banner__mainText {
    font-size: 9rem;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: blue; */
  }
}

.large {
}

/* colors */
.yellow .banner__content {
  background-color: var(--yellow-1);
}
.yellow svg {
  fill: var(--yellow-1);
}

.purple .banner__content {
  background-color: var(--purple-2);
}

.banner svg {
  margin-bottom: -1px; /* get rid of white line */
  min-width: 100%;
}

.purple path {
  fill: var(--purple-2);
}

.waves {
  display: flex;
  /* transform: translate(-5rem) scaleX(1); */
}

/* .waves {
  
  position: absolute;
  top: -56px;

  left: 0;
  right: 0;
} */

.banner__content {
  /* background-color: ; */
  padding: 2rem;
  padding-bottom: 3rem;
  /* // << here be dragons with side scroll. dont know why  - maybe ??*/
}
@media screen and (min-width: 60rem) {
  .banner__content {
    padding-bottom: 7rem;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .waves svg {
    animation: wavesAnimate 1.8s ease-out forwards;
  }
} */

/* @keyframes wavesAnimate {
  from {
    transform: scale(var(--waves-scale-adjust))
      translate(0rem, var(--home-waves-y-adjust));
  }
  to {
    transform: scale(var(--waves-scale-adjust))
      translateY(7rem, var(--home-waves-y-adjust));
  }
} */
