.banner {
  --container-padding: 2rem;
}

.banner {
  font-family: var(--font-headings);
  font-size: 1.2rem;
  background-color: var(--purple-2);
  padding: calc(var(--container-padding) / 2) var(--container-padding);
  width: 100%;
  position: relative;
}

.banner p {
  text-align: center;
  margin: 0;
}

.banner::before,
.banner::after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  width: calc(var(--container-padding) + 1px);
  text-align: center;
}

.banner::before {
  left: calc(-1 * var(--container-padding));
}

.banner::after {
  right: calc(-1 * var(--container-padding));
}

/* sizes */
.small {
  margin: 0;
  line-height: 1.2;
  font-size: 2.2rem;
  margin-bottom: 0;
  /* padding-left: var(--container-padding);
  padding-left: var(--container-padding); */

  @media screen and (min-width: 30rem) {
    font-size: 2rem;
    /* line-height: 1.5; */
  }
}

.med {
  line-height: 1.2;
  margin-bottom: 0;
}
.med .banner__mainText {
  margin: 4rem 0;
  font-size: 2rem;
  margin: 0;
  /* padding-left: var(--container-padding);
  padding-left: var(--container-padding); */

  @media screen and (min-width: 30rem) {
    font-size: 2.5rem;
    /* line-height: 1.5; */
  }
}

.large {
}

/* colors */
.yellow {
  background-color: var(--yellow-1);
}

.purple {
  background-color: var(--purple-2);
}
