.stuffArticleSection {
  padding: 3rem 0;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -3px;
  position: relative;
  max-width: 100%;
}

.stuffArticleSection::before {
  content: '';
  display: block;
  height: 250px;
  position: absolute;
  top: -10px;
  width: 172vw;
  left: -30vw;
  background-image: linear-gradient(to left, var(--purple-2), var(--blue-4));
  pointer-events: none;
}
@media screen and (min-width: 40rem) {
  .stuffArticleSection::before {
    width: 152vw;
    height: 390px;
  }
}

.stuffArticleSection::after {
  content: '';
  display: block;
  height: 540px;
  position: absolute;
  top: 289px;
  width: 172vw;
  left: -30vw;
  z-index: -1;
  background-color: var(--gray-1);
  pointer-events: none;
}
@media screen and (min-width: 40rem) {
  .stuffArticleSection::after {
    width: 152vw;
  }
}

.stuffLinkSmall {
  color: var(--blue-4);
  font-size: 1.2rem;
  text-decoration: underline;
}

.stuffLinkSmall:hover {
  color: var(--blue-5);
}
.newsPaperImage {
  transform: rotate(15deg);
  transition: transform 0.3s ease-out;
}

.newsPaperImage:hover {
  transform: rotate(0);
}

.youTubeEmbed {
  margin-top: 4rem;
}
