.stuffArticleSection {
  /* padding: 3rem 0; */
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -3px;
  width: 100%;
  position: relative;
  max-width: 100%;
}

/* .stuffArticleSection::before {
  content: '';
  display: block;
  height: 250px;
  position: absolute;
  top: -10px;
  width: 172vw;
  left: -30vw;
  background-image: linear-gradient(to left, var(--purple-2), var(--blue-4));
  pointer-events: none;
}
@media screen and (min-width: 40rem) {
  .stuffArticleSection::before {
    width: 152vw;
    height: 390px;
  }
}

.stuffArticleSection::after {
  content: '';
  display: block;
  height: 800px;
  position: absolute;
  top: 289px;
  width: 172vw;
  left: -30vw;
  z-index: -1;
  background-color: var(--gray-1);
  pointer-events: none;
}
@media screen and (min-width: 40rem) {
  .stuffArticleSection::after {
    width: 152vw;
  top: 189px;
  width: 100vw;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(to left, var(--purple-2), var(--blue-4));
} */

@media screen and (min-width: 60rem) {
  .stuffLinkTopBannner {
    display: grid;
    grid-template-columns: 400px 1fr;
  }

  .newsPaperImage__overflowWrapper {
    background-color: var(--black);
    padding: 2rem;
  }
}

.stuffLinkSmall {
  color: var(--blue-4);
  font-size: 1.2rem;
  text-decoration: underline;
}

.stuffLinkSmall:hover {
  color: var(--blue-5);
}
.newsPaperImage {
  max-width: 100%;
  /* transform: rotate(15deg); */
  transition: transform 0.3s ease-out;
}
@media screen and (min-width: 60rem) {
  .newsPaperImage {
    transform: rotate(-9deg);
  }
}

.copyWrapper {
  transform: translateY(-3rem) rotate(-3deg);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 9px;
  padding: 2rem;
  box-shadow: var(--box-shadow-1);
}
@media screen and (min-width: 60rem) {
  .copyWrapper {
    transform: none;
    box-shadow: none;
    background: none;
  }
}

.youTubeEmbed {
  margin-top: 4rem;
  max-width: 100%;
  /* width: 300px; */
}

.youTubeEmbedSmall,
.youTubeEmbedLarge {
  margin-top: 3rem;
}
.youTubeEmbedSmall iframe,
.youTubeEmbedLarge iframe {
  max-width: 100%;
}

.youTubeEmbedSmall {
  display: block;
  /* border: 3px solid red; */
}
.youTubeEmbedLarge {
  /* border: 3px solid blue; */
  display: none;
}

@media screen and (min-width: 80rem) {
  .youTubeEmbedSmall {
    max-width: 100%;
    display: none;
  }
  .youTubeEmbedLarge {
    max-width: 100%;
    display: block;
  }
}

.newsPaperImage__overflowWrapper {
  overflow-y: hidden;
}
