.stuffArticleSection {
  /* padding: 3rem 0; */
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -3px;
  width: 100%;
  position: relative;
}

.stuffArticleSection::before {
  content: '';
  display: block;
  height: 690px;
  position: absolute;
  top: -380px;
  width: 100vw;
  left: 0;
  background-color: var(--gray-1);
}

.stuffArticleSection::after {
  content: '';
  display: block;
  height: 800px;
  position: absolute;
  top: 189px;
  width: 100vw;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(to left, var(--purple-2), var(--blue-4));
}

.stuffLinkSmall {
  color: var(--blue-4);
  font-size: 1.2rem;
  text-decoration: underline;
}

.stuffLinkSmall:hover {
  color: var(--blue-5);
}
.newsPaperImage {
  max-width: 100%;
  /* transform: rotate(15deg); */
  transition: transform 0.3s ease-out;
}

/* .newsPaperImage:hover {
  transform: rotate(0);
} */

.copyWrapper {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 9px;
  padding: 2rem;
}

.youTubeEmbed {
  margin-top: 4rem;
  max-width: 100%;
  /* width: 300px; */
}

.youTubeEmbedSmall,
.youTubeEmbedLarge {
  margin-top: 3rem;
}
.youTubeEmbedSmall iframe,
.youTubeEmbedLarge iframe {
  max-width: 100%;
}

.youTubeEmbedSmall {
  display: block;
  /* border: 3px solid red; */
}
.youTubeEmbedLarge {
  /* border: 3px solid blue; */
  display: none;
}

@media screen and (min-width: 80rem) {
  .youTubeEmbedSmall {
    max-width: 100%;
    display: none;
  }
  .youTubeEmbedLarge {
    max-width: 100%;
    display: block;
  }
}

.newsPaperImage__overflowWrapper {
  overflow-y: hidden;
}
