.getTheBookBanner {
  margin-bottom: 2rem;
}

.getTheBookImage {
  padding-left: 2rem;
  padding-right: 2rem;
  display: block;
}

.getTheBookImage > span {
  border: 9px solid white;
  display: block;
  box-shadow: var(--box-shadow-2), 0.7rem 0.7rem var(--purple-2),
    -0.7rem -0.7rem var(--blue-4);
}

.getTheBookImage img {
  filter: brightness(1.1);
}

.homeCTAbuttonArea {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  padding: 4rem;
  max-width: 600px;
  margin: 0 auto;
}

.leadCopy p {
  font-size: 1.4rem;
}

.bookProductImageClearCut {
  max-width: 100%;
}

@media screen and (min-width: 60rem) {
  .getTheBookBanner {
    display: grid;
    gap: 4rem;
    align-items: center;
    grid-template-columns: 380px 1fr;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .getTheBookImage {
    padding-right: 0;
    display: block;
  }

  .homeCTAbuttonArea {
    padding: 2rem;
  }

  .leadCopy {
    margin-top: 3rem;
    /* padding: 2rem; */
    text-align: left;
  }

  .leadCopy p {
    font-size: 1.8rem;
  }
}
