.navbar {
  width: 100%;
  height: auto;
  flex-flow: column nowrap;
  background-color: var(--gray-5);
  background: var(--gradient-1);
  padding: 0 1rem;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: var(--box-shadow-1);
  overflow: hidden;
}

.menuToggleButton {
  background: none;
  border: none;
  margin-right: 20px;
}
/* @media screen and (min-width: 65rem) {
  .menuToggleButton {
    display: none;
  }
} */

.menuToggleButton svg {
  fill: #fff;
  width: 40px;
  height: 40px;
}

.logo {
  font-family: var(--font-headings);
  font-size: 1.5rem;
}

.tagline {
  display: none; /* do later */
  font-family: var(--font-script);
  font-size: 1.2rem;
  position: relative;
  margin-left: 1rem;
  padding-left: 1rem;
}

.tagline::before {
  content: '';
  border-left: 1px solid white;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
}

/* // exists for animation */
.navListParent {
  width: 100%;
}

.navList {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start; */
  list-style: none;
  width: 100%;
}

/* //hide before x rem wide */

.largeScreenNav {
  margin-left: auto;
}
.navList__horizontal {
  display: none;
}
@media screen and (min-width: 65rem) {
  /* .navList__stacked {
    display: none;
  } */
  .navList__horizontal {
    display: flex;
    margin: 0;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

.navHeader {
  width: 100%;
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
}

.navbarMenuOpen .navHeader {
  border-bottom: 1px solid white;
}
@media screen and (min-width: 65rem) {
  .navbarMenuOpen .navHeader {
    border-bottom: none;
  }
}

.navLink {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.8rem 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border-radius: 3px;
}

.navList__horizontal .navLink__active::after {
  content: '';
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  /* border-bottom: 3px solid var(--yellow-1); */
  width: 30px;
  height: 30px;
  background-color: var(--yellow-1);
  border-radius: 50%;

}
.navList__stacked .navLink__active::after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 1rem;
  left: -1.5rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--yellow-1);
}
.navList__horizontal .navLink {
  margin: 0;
}
.navLink:hover {
  background: rgba(255, 255, 255, 0.15);
}

@media screen and (min-width: 30rem) {
  .navLink {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 65rem) {
  .navLink {
    font-size: 1.2rem;
  }
}
