.navbar {
  width: 100%;
  height: auto;
  flex-flow: column nowrap;
  /* // */
  background-color: var(--gray-5);
  padding: 0 1rem;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 4px 16px -6px rgba(0, 0, 0, 0.75);

  /* // move to later */
  /* align-items: center; */
  /* height: var(--nav-height); */
  /* flex-flow: row nowrap; */
}

.navbarMenuOpen {
}

.menuToggleButton {
  background: none;
  border: none;
}
.menuToggleButton svg {
  fill: #fff;
}

.logo {
  font-family: var(--font-headings);
  font-size: 1.5rem;
}

.tagline {
  display: none; /* do later */
  font-family: var(--font-script);
  font-size: 1.2rem;
  position: relative;
  margin-left: 1rem;
  padding-left: 1rem;
}

.tagline::before {
  content: '';
  border-left: 1px solid white;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
}

.navList {
  /* flex: 1; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  list-style: none;
  padding-left: 0.5rem;

  /* // later */
  /* align-items: center; */
  /* flex-flow: row nowrap; */
}

.navHeader {
  width: 100%;
  padding: 0.8rem 0;
}

.navbarMenuOpen .navHeader {
  border-bottom: 1px solid white;
}

.navList li {
  padding: 1rem 0;
}

.navLink {
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  margin-right: 1rem;
}

a.navLinkCTA {
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.4rem 0.5rem;
  width: 100%;
}

li.getTheBookCTA {
  transform: translateX(-0.5rem);
  order: -1;
  width: 100%;
  /* channge later */
}
