.testimonialList {
  /* text-align: center; */
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  /* background-color: var(--white); */
  z-index: 1;
  width: 100%;
  padding: 1rem;
  /* max-width: 600px; */
  margin: 0 auto;
}
@media screen and (min-width: 60rem) {
  .testimonialList {
    padding: 3rem;
  }
}

.customerTestimonialsTitle {
  margin-top: 6rem;
}

.customerTestimonialsIntro {
  max-width: 600px;
  margin: 0 auto;
}

.decorativeWrapper {
  /* position: absolute;
  transform: rotate(-30deg);
  top: 22rem;
  right: 22rem; */
}

.testimonialList h2,
.testimonialList h3 {
  text-align: center;
}
