.joinTheMailingListPage {
  margin-bottom: -5rem;
  padding: 0 3rem;
}
@media screen and (min-width: 60rem) {
  .joinTheMailingListPage {
    margin-bottom: -10rem;
    padding: 0 7rem;
  }
}

.joinTheMailingListPage p {
  max-width: 30ch;
}

.joinTheMailingListPage .subtitle {
  font-family: var(--font-script) !important;
  margin-top: -2.2rem;
  font-size: 2rem;
  color: var(--purple-3);
}
