:root {
  --black: #3a3a39;
  --gray-5: #3a3a39;
  --gray-4: #646461;
  --gray-1: #f2f2f1;
  --yellow-1: #fff73e;
  --blue-2: #c5f8ff;
  --blue-4: #47a5f1;
  --blue-5: #207bc5;
  --purple-2: #ba90ff;
  --purple-3: #8c5fd5;

  /* --validation-success-color: #88f295; */
  --validation-success-color: #affeb8;
  --validation-error-color: rgb(247, 119, 97);

  --site-container-max-width: 1800px;
  --site-container-padding: 2rem;

  --nav-height: 65px;

  --font-headings: 'Outfit', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-button: var(--font-headings);

  --font-headings-fun: 'Daruma', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --font-script: 'Pacifico', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-copy: 'Outfit', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --bettySize: 200px;
}

@font-face {
  font-family: 'Daruma';
  src: url('/fonts/daruma/darumadropone.woff');
  src: url('/fonts/daruma/darumadropone.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/pacifico/pacifico.woff');
  src: url('/fonts/pacifico/pacifico.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* @font-face {
  font-family: 'Primer';
  src: url('/fonts/primer/primer_print.woff');
  src: url('/fonts/primer/primer_print.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Primer';
  src: url('/fonts/primer/primer_print_bold.woff');
  src: url('/fonts/primer/primer_print_bold.woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-Regular.woff');
  src: url('/fonts/outfit/Outfit-Regular.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-Medium.woff');
  src: url('/fonts/outfit/Outfit-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-Bold.woff');
  src: url('/fonts/outfit/Outfit-Bold.woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-headings);
  color: var(--black);
}

/* h2.bigTitle {
  font-size: 3rem;
  font-weight: normal;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(
    99.92deg,
    rgba(217, 217, 217, 0) 58.9%,
    rgba(217, 217, 217, 1) 93.37%
  ); */
}

body,
p {
  font-family: var(--font-copy);
  line-height: 1.2;
  font-size: 1.2rem;
}

.ml-form-embedContainer {
  min-width: 300px;
}

@media screen and (min-width: 50rem) {
  .ml-form-embedContainer {
    min-width: 400px;
  }
}
.embedForm.embedForm.embedForm.embedForm.embedForm {
  background-color: none !important;
}

.embedForm.embedForm.embedForm.embedForm.embedForm h4 {
  font-family: var(--font-copy) !important;
  /* font-family: var(--font-headings) !important; */
  text-align: left !important;
  font-size: 1.2rem !important;

  font-weight: 300 !important;
}

input.ml-error.ml-error,
.ml-error.ml-error input,
.ml-error textarea,
.ml-error select {
  box-shadow: 0 0px 2px 4px tomato;
  position: relative;
}

/* .ml-form-embedContainer
  #mlb2-866379.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-fieldRow
  .ml-field-group
  input {
  border: 6px solid var(--black) !important;
  color: red !important;
  transform: rotate(45deg);
} */

/* // global hit me link for ease of sharing */
.hitmeLink {
  transform: translateY(-9px);
  font-size: 1.6rem;
  display: inline-block;
  width: auto;
  margin: 0;
  cursor: pointer !important;
  background-image: linear-gradient(to left, var(--purple-2), var(--blue-4));
  -webkit-background-clip: text;
  color: transparent;
  transform: translateY(0);
}

@media screen and (min-width: 50rem) {
  .hitmeLink {
    transform: translateY(-9px);
    font-size: 3rem;
  }
}

.hitmeLink:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--yellow-1);
  transform: translateY(-1px);
}

.hitmeLink:active {
  transform: translateY(1px);
  text-decoration-color: var(--blue-2);
}
