:root {
  --black: #3a3a39;
  --white: #fff;
  --gray-5: #3a3a39;
  --gray-4: #646461;
  --gray-3: #a2a29f;
  --gray-1: #f2f2f1;
  --yellow-1: #fff73e;
  --blue-2: #c5f8ff;
  --blue-4: #47a5f1;
  --blue-5: #207bc5;
  --purple-2: #ba90ff;
  --purple-3: #8c5fd5;

  --gradient-1: linear-gradient(to left, var(--purple-2), var(--blue-4));
  /* --gradient-sunshine: linear-gradient(
    180deg,
    #47a5f1 11%,
    rgba(0, 212, 255, 0) 100%
  ); */
  /* --gradient-sunshine: linear-gradient(
    180deg,
    rgba(71, 165, 241, 1) 0%,
    rgba(0, 212, 255, 1) 49%,
    rgba(0, 212, 255, 0) 100%
  ); */
  --box-shadow-1: 0px 4px 16px -6px rgba(0, 0, 0, 0.75);
  --box-shadow-2: 10px 14px 21px -9px rgba(0, 0, 0, 0.95);
  --box-shadow-3: 0px 4px 16px -6px rgba(0, 0, 0, 0.35);

  /* --validation-success-color: #88f295; */
  --validation-success-color: #affeb8;
  --validation-error-color: rgb(247, 119, 97);

  --site-container-max-width: 1800px;
  --site-container-padding: 2rem;

  --nav-height: 65px;

  --font-headings: 'Outfit', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-button: var(--font-headings);

  --font-headings-fun: 'Daruma', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --font-headings-display: 'Bungee Shade', 'Outfit', -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  --font-script: 'Pacifico', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-copy: 'Outfit', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --bettySize: 200px;
}

@font-face {
  font-family: 'Daruma';
  src: url('/fonts/daruma/darumadropone.woff');
  src: url('/fonts/daruma/darumadropone.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/pacifico/pacifico.woff');
  src: url('/fonts/pacifico/pacifico.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* @font-face {
  font-family: 'Primer';
  src: url('/fonts/primer/primer_print.woff');
  src: url('/fonts/primer/primer_print.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Primer';
  src: url('/fonts/primer/primer_print_bold.woff');
  src: url('/fonts/primer/primer_print_bold.woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-Regular.woff');
  src: url('/fonts/outfit/Outfit-Regular.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-Medium.woff');
  src: url('/fonts/outfit/Outfit-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-Bold.woff');
  src: url('/fonts/outfit/Outfit-Bold.woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

h1 {
  font-family: var(--font-headings-display);
  color: var(--purple-3);
  font-weight: normal;
  margin-top: 5rem;

  /* // start at 2.2 ? */
  font-size: 4rem;
}
@media screen and (min-width: 50rem) {
  h1 {
    font-size: 2.5rem;
    font-size: 5.5rem;
  }
}

h2,
h3 {
  font-family: var(--font-headings);
  color: var(--black);
  font-weight: normal;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

/* h2.bigTitle {
  font-size: 3rem;
  font-weight: normal;
} */

a {
  color: inherit;
  text-decoration: none;
}

main a {
  color: var(--blue-4);
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  /* background: linear-gradient(
    250deg,
    rgba(120, 201, 239, 0) 58.9%,
    rgba(217, 217, 217, 1) 93.37%
  ); */
}

body,
p {
  font-family: var(--font-copy);
  line-height: 1.3;
  font-size: 1.2rem;
}
.basicPageContainer {
  padding: var(--site-container-padding);
  max-width: var(--site-container-max-width);
}

.longCopyLayoutArea h2 {
  margin-top: 4rem;
}

.longCopyLayoutArea h3 {
  margin-top: 2rem;
}

/* body::before {
  content: '';
  background: var(--gradient-sunshine);
  z-index: -1;
  height: 35vh;
  width: 100%;
  position: absolute;
  display: block;
} */

.ml-form-embedContainer {
  min-width: 300px;
}

.container {
  padding: var(--site-container-padding);
  max-width: var(--site-container-max-width);
}

@media screen and (min-width: 50rem) {
  .ml-form-embedContainer {
    min-width: 400px;
  }
}
.embedForm.embedForm.embedForm.embedForm.embedForm {
  background-color: none !important;
}

.embedForm.embedForm.embedForm.embedForm.embedForm h4 {
  font-family: var(--font-copy) !important;
  /* font-family: var(--font-headings) !important; */
  text-align: left !important;
  font-size: 1.2rem !important;

  font-weight: 300 !important;
}

input.ml-error.ml-error,
.ml-error.ml-error input,
.ml-error textarea,
.ml-error select {
  box-shadow: 0 0px 2px 4px tomato;
  position: relative;
}

/* .ml-form-embedContainer
  #mlb2-866379.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-fieldRow
  .ml-field-group
  input {
  border: 6px solid var(--black) !important;
  color: red !important;
  transform: rotate(45deg);
} */

/* // global hit me link for ease of sharing */
.copyArea {
}

.copyArea--med p {
  font-size: 1.6rem;
}

.copyArea a {
  color: var(--blue-5);
  text-decoration: underline;
}

.copyArea h2 {
  margin-top: 6rem;
  margin-bottom: 1rem;
}
.copyArea a:hover {
  color: var(--purple-3);
  text-decoration: underline;
}

.hitmeLink {
  transform: translateY(-9px);
  font-size: 2.4rem;
  display: inline-block;
  width: auto;
  margin: 0;
  cursor: pointer !important;
  /* // TODO check on non gradient link color */
  transform: translateY(0);
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .hitmeLink {
    background-image: linear-gradient(to left, var(--purple-2), var(--blue-4));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

@media screen and (min-width: 50rem) {
  .hitmeLink {
    transform: translateY(-9px);
    font-size: 3rem;
  }
}

h3 strong {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--purple-2);
  transform: translateY(-1px);
}

.hitmeLink:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--yellow-1);
  transform: translateY(-1px);
}

.hitmeLink:active {
  transform: translateY(1px);
  text-decoration-color: var(--blue-2);
}
/* // quick hacks */
.footerBannerGlobal .bannerContent {
  padding-top: 9rem;
}
.footerBannerGlobal a {
  display: block;
  margin: 2rem auto;
}

.footerBannerGlobal button {
  margin-top: 12rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: none;
  border: none;
  box-shadow: none;
}

.footerBannerGlobal button:hover {
  background: none;
  border: none;
  box-shadow: none;
  border: 3px solid var(--blue-2);
}

@media screen and (min-width: 70rem) {
  .footerBannerGlobal .bannerContent {
    padding-top: 4rem;
  }
}

.quoteMark {
  font-family: var(--font-headings);
}
