.container {
  position: relative;
  max-width: var(--site-container-max-width);
  margin: 0 auto;
  padding: var(--site-container-padding);
  overflow: hidden;

  --waves-x-adjust: 10rem;
  --waves-y-adjust: -5rem;
  --waves-scale-adjust: 3.2, 0.8;
  --waves-banner2-padding: 7rem 0;

  --signup-margin-bottom: -1px;
}
@media screen and (min-width: 400rem) {
  .container {
    overflow: visible;
  }
}

/* // responsive custom prop changes */
/* @media screen and (min-width: 30rem) {
  .container {
    border: 3px solid blue;
  }
} */
/* @media screen and (min-width: 50rem) {
  .container {
    border: 3px solid green;
  }
} */
/* @media screen and (min-width: 80rem) {
  .container {
    border: 3px solid orange;
  }
} */

@media screen and (min-width: 50rem) {
  .container {
    --signup-margin-bottom: 2rem;
    --waves-banner2-padding: 5rem 0 8rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .container {
    --signup-margin-bottom: 5rem;
    --waves-banner2-padding: 2rem 0 8rem 0;
    --waves-x-adjust: 20rem;
    --waves-scale-adjust: 1.5, 0.5;
  }
}

.main {
  min-height: calc(100vh - var(--nav-height));
  padding: 2rem 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* .main::after {
  position: absolute;
  bottom: 0;
  content: '';
  width: 100%;
  height: 150px;
  background-color: var(--purple-2);
  z-index: -1;
} */

.product_book1 {
  width: 80vw;
  text-align: center;
  z-index: 2;
  transform: translateY(-2rem);
}

.product_book1__heading {
  margin: 0;
}

.homeCTAbutton {
  margin-bottom: 2rem;
}

/* //out soon as */
.product_book1__subtitle {
  color: var(--black);
  /* font-family: var(--font-script); */
  font-family: var(--font-headings);
  font-size: 2rem;
  margin-top: -1.2rem;
  margin-bottom: 1rem;
  transform: rotate(-6deg);

  @media screen and (min-width: 30rem) {
    margin-top: -0.5rem;
  }
}

.pointer {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;

  border-top: 40px solid var(--yellow-1);
  margin-bottom: 1.5rem;
  animation: pointer 0.5s ease-out 1s 1 forwards;
}

@keyframes pointer {
  from {
    transform: translateY(-1rem);
  }
  to {
    transform: translateY(0.8rem);
  }
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* //banner position */
.homeBanner1.homeBanner1.homeBanner1 {
  margin-top: 0rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 500px;
  margin: auto;
}
/* TODO: do custom props instead */
@media screen and (min-width: 30rem) {
  .homeBanner1.homeBanner1.homeBanner1 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.homeBanner2.homeBanner2.homeBanner2 {
  background-color: var(--purple-2);
  z-index: 1;
  transform: translateY(var(--waves-y-adjust));
  padding: var(--waves-banner2-padding);
}

/* .signup {
  margin-top: 7rem;
  position: relative;
  min-height: 190px;
  min-width: 300px;
  border-bottom: none;
  margin-bottom: var(--signup-margin-bottom);
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
  max-width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  z-index: 2;
  transition: width 0.5s ease-out;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  padding-bottom: 0.5rem;
} */

/* @media screen and (min-width: 30rem) {
  .signup {
    width: 450px;
    padding: 2rem;
    padding-bottom: 0;
  }
}

.signupLoading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  font-family: var(--font-script);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup::before {
  pointer-events: none;
  content: '';
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 10px solid var(--purple-2);
  z-index: 1;
}

.waves {
  width: 100%;
  position: relative;
  margin-bottom: -4px;
}

.waves svg {
  transform-origin: 100%;
  position: absolute;
  transform: scale(var(--waves-scale-adjust))
    translate(var(--waves-x-adjust), var(--waves-y-adjust));
  fill: var(--purple-2);
  bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .waves svg {
    animation: wavesAnimate 1.8s ease-out forwards;
  }
}

@keyframes wavesAnimate {
  from {
    transform: scale(var(--waves-scale-adjust))
      translate(0rem, var(--waves-y-adjust));
  }
  to {
    transform: scale(var(--waves-scale-adjust))
      translate(10rem, var(--waves-y-adjust));
  }
} */

/* CTA links */
.product_book1_buyNowBlock {
  padding: 1rem;
}
.product_book1_buyNowLink {
  width: 100%;
  max-width: 500px;
  font-weight: bold;
  display: inline-block;
  border: 6px solid var(--yellow-1);
  color: white;
  margin: 0.5rem;
  font-size: 1.2rem;
  font-family: var(--font-button);
  padding: 20px;
  background-color: var(--black);
  border-radius: 9px;
}

/* // do by href */
.product_book1_buyNowLink[href*='shop.mazmatics.com'] {
}

.product_book1_buyNowLink[href*='www.amazon.com'] {
  border-color: var(--purple-2);
}

.product_book1_buyNowLink[href*='www.amazon.com.au'] {
  border-color: var(--yellow-1);
}

.product_book1_buyNowLink[href*='www.amazon.co.uk'] {
  border-color: var(--blue-2);
}

.product_book1_buyNowLink:hover {
  transform: translateY(-2px);
  background-color: black;
  /* #fff406; */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.product_book1_buyNowLink:active {
  box-shadow: none;
  transform: translateY(2px);
}

.product_book1_buyNowLocation {
  margin: 0 auto;
  text-align: center;
}

.bannerPhoto {
  margin: 1rem -2rem 0 -2rem;
}

.product_book1__linkGroup {
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: space-between;
}

/* // clean up with new components */
.feedback {
  margin-top: 7rem;
  width: 80vw;
  padding: 3rem 2rem 4rem 2rem;
  /* background: rgba(255, 255, 255, 0.9); */
  text-align: center !important;
  font-family: var(--font-copy);

  margin-bottom: 2rem;
}

.hitmeLink {
  transform: translateY(-9px);
  font-size: 1.6rem;
  display: inline-block;
  width: auto;
  margin: 0;
  cursor: pointer !important;
  background-image: linear-gradient(to left, var(--purple-2), var(--blue-4));
  -webkit-background-clip: text;
  color: transparent;
  transform: translateY(0);
}

@media screen and (min-width: 50rem) {
  .hitmeLink {
    transform: translateY(-9px);
    font-size: 3rem;
  }
}

.hitmeLink:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--yellow-1);
  transform: translateY(-1px);
}

.hitmeLink:active {
  transform: translateY(1px);
  text-decoration-color: var(--blue-2);
}

/* use this in a gradient to make a rainbow sometime */
/* violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red */

/* // test out having a second circle betty */
.charCircleBettyPositioner {
  --bettySize: 140px;
  transform: rotate(15deg);
  position: absolute;
  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

/* .nzShopDetails {
  margin-bottom: 3rem;
} */

.orDivider {
  margin: 2rem 0;
  font-family: var(--font-script);
  font-size: 2rem;
}

/* .bigSunSingle {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  right: 0;
} */
