.iLikeMathsSvg .st0 {
  fill: url(#SVGID_1_);
}
.iLikeMathsSvg .st1 {
  opacity: 0.6442;
  fill: currentColor;
  enable-background: new;
}
.iLikeMathsSvg .st2 {
  fill: #cf9479;
}
.iLikeMathsSvg .st3 {
  clip-path: url(#SVGID_3_);
}
.iLikeMathsSvg .st4 {
  fill: #bb856d;
}
.iLikeMathsSvg .st5 {
  opacity: 0.32;
  fill: #050404;
}
.iLikeMathsSvg .st6 {
  fill: #ffffff;
}
.iLikeMathsSvg .st7 {
  opacity: 0.3923;
  fill: currentColor;
  enable-background: new;
}
.iLikeMathsSvg .st8 {
  clip-path: url(#SVGID_5_);
}
.iLikeMathsSvg .st9 {
  fill: #ab7a64;
}
.iLikeMathsSvg .st10 {
  fill: #f1ae8e;
}
.iLikeMathsSvg .st11 {
  clip-path: url(#SVGID_7_);
}
.iLikeMathsSvg .st12 {
  fill: #c28b71;
}
.iLikeMathsSvg .st13 {
  fill: currentColor;
}
.iLikeMathsSvg .st14 {
  fill: #ededed;
}
.iLikeMathsSvg .st15 {
  fill: none;
  stroke: #60483d;
  stroke-width: 3.1568;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 9.9987;
}
.iLikeMathsSvg .st16 {
  fill: #c06458;
}
.iLikeMathsSvg .st17 {
  fill: #60483d;
}
.iLikeMathsSvg .st18 {
  fill: #bc8ec3;
}
.iLikeMathsSvg .st19 {
  fill: #2f2f2f;
}
.iLikeMathsSvg .st20 {
  fill: #443432;
}
.iLikeMathsSvg .st21 {
  fill: #a16057;
}
.iLikeMathsSvg .st22 {
  fill: #646464;
}
.iLikeMathsSvg .st23 {
  fill: #3f3d3d;
}
.iLikeMathsSvg .st24 {
  fill: #6f6f6e;
}
.iLikeMathsSvg .st25 {
  fill: #4b4542;
}
.iLikeMathsSvg .st26 {
  fill: #c5bebd;
}
.iLikeMathsSvg .st27 {
  fill: #907365;
}
.iLikeMathsSvg .st28 {
  fill: #d99d80;
}
.iLikeMathsSvg .st29 {
  fill: #444444;
}
.iLikeMathsSvg .st30 {
  fill: #484848;
}
.iLikeMathsSvg .st31 {
  fill: #5c5c5c;
}
.iLikeMathsSvg .st32 {
  fill: #f6b796;
}
.iLikeMathsSvg .st33 {
  fill: #cf8f71;
}
.iLikeMathsSvg .st34 {
  fill: #eda988;
}
.iLikeMathsSvg .st35 {
  fill: #e2a181;
}
.iLikeMathsSvg .st36 {
  fill: #fdfdfd;
}
.iLikeMathsSvg .st37 {
  fill: #cf8f70;
}
.iLikeMathsSvg .st38 {
  fill: #fafafa;
}
.iLikeMathsSvg .st39 {
  fill: #fcfcfc;
}
.iLikeMathsSvg .st40 {
  fill: #3e3748;
}
.iLikeMathsSvg .st41 {
  fill: #4d3f40;
}
.iLikeMathsSvg .st42 {
  fill: #876555;
}
.iLikeMathsSvg .st43 {
  fill: #4d3e37;
}
.iLikeMathsSvg .st44 {
  fill: #6c5448;
}
.iLikeMathsSvg .st45 {
  fill: #57473f;
}
.iLikeMathsSvg .st46 {
  fill: #d89c83;
}
.iLikeMathsSvg .st47 {
  fill: #faf8fa;
}
.iLikeMathsSvg .st48 {
  fill: #fdfcfc;
}
.iLikeMathsSvg .st49 {
  fill: #9c7562;
}
.iLikeMathsSvg .st50 {
  fill: #f7f6f6;
}
.iLikeMathsSvg .st51 {
  fill: #a16158;
}
.iLikeMathsSvg .st52 {
  fill: #474241;
}
.iLikeMathsSvg .st53 {
  fill: #4b3d39;
}
.iLikeMathsSvg .st54 {
  fill: #553c38;
}
.iLikeMathsSvg .st55 {
  fill: #573d39;
}
.iLikeMathsSvg .st56 {
  fill: #4d3936;
}
.iLikeMathsSvg .st57 {
  fill: #523a37;
}
.iLikeMathsSvg .st58 {
  fill: #f7f4f3;
}
.iLikeMathsSvg .st59 {
  fill: #e09f80;
}
.iLikeMathsSvg .st60 {
  fill: #9e6158;
}
.iLikeMathsSvg .st61 {
  fill: #413331;
}
.iLikeMathsSvg .st62 {
  fill: #9a635b;
}
.iLikeMathsSvg .st63 {
  fill: #433934;
}
.iLikeMathsSvg .st64 {
  fill: #df9f80;
}
.iLikeMathsSvg .st65 {
  fill: #8d6958;
}
.iLikeMathsSvg .st66 {
  fill: #d6d4d4;
}
.iLikeMathsSvg .st67 {
  fill: #6a4742;
}
.iLikeMathsSvg .st68 {
  fill: #d0b1ac;
}
.iLikeMathsSvg .st69 {
  fill: #ececec;
}
.iLikeMathsSvg .st70 {
  fill: #6e5a8c;
}
.iLikeMathsSvg .st71 {
  fill: #282626;
}
.iLikeMathsSvg .st72 {
  fill: #262625;
}
.iLikeMathsSvg .st73 {
  fill: #e2a182;
}
.iLikeMathsSvg .st74 {
  fill: #eca787;
}
.iLikeMathsSvg .st75 {
  fill: #cf7567;
}
.iLikeMathsSvg .st76 {
  fill: #272626;
}
.iLikeMathsSvg .st77 {
  fill: #d07869;
}
.iLikeMathsSvg .st78 {
  fill: #e6957f;
}
.iLikeMathsSvg .st79 {
  fill: #d99b7a;
}
.iLikeMathsSvg .st80 {
  fill: #2b2928;
}
.iLikeMathsSvg .st81 {
  fill: #f6d674;
}
.iLikeMathsSvg .st82 {
  fill: #f5cf7b;
}
.iLikeMathsSvg .st83 {
  fill: #dda377;
}
.iLikeMathsSvg .st84 {
  fill: #af6e64;
}
.iLikeMathsSvg .st85 {
  fill: #7a5d4f;
}
.iLikeMathsSvg .st86 {
  fill: #614d43;
}
.iLikeMathsSvg .st87 {
  fill: #5a4c3e;
}
.iLikeMathsSvg .st88 {
  fill: #716c6a;
}
.iLikeMathsSvg .st89 {
  fill: #836753;
}
.iLikeMathsSvg .st90 {
  fill: #fdfcfb;
}
.iLikeMathsSvg .st91 {
  fill: #b7b5b4;
}
.iLikeMathsSvg .st92 {
  fill: #9a7562;
}
.iLikeMathsSvg .st93 {
  fill: #967260;
}
.iLikeMathsSvg .st94 {
  fill: #8b6857;
}
.iLikeMathsSvg .st95 {
  fill: #654f44;
}
.iLikeMathsSvg .st96 {
  fill: #8d6654;
}
.iLikeMathsSvg .st97 {
  fill: #322b2a;
}
.iLikeMathsSvg .st98 {
  fill: #2e2929;
}
.iLikeMathsSvg .st99 {
  fill: #61413d;
}
.iLikeMathsSvg .st100 {
  fill: #897a73;
}
.iLikeMathsSvg .st101 {
  fill: #ad6c63;
}
.iLikeMathsSvg .st102 {
  fill: #a96a61;
}
.iLikeMathsSvg .st103 {
  fill: #a15f56;
}
.iLikeMathsSvg .st104 {
  opacity: 0.77;
  fill: #ffffff;
}
.iLikeMathsSvg .st105 {
  fill: #f8f14a;
}
.iLikeMathsSvg .st106 {
  fill: #733d2b;
}
.iLikeMathsSvg .st107 {
  fill: #5b3125;
}
.iLikeMathsSvg .st108 {
  fill: #faf43d;
}
.iLikeMathsSvg .st109 {
  fill: none;
  stroke: #5b3125;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.iLikeMathsSvg .st110 {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.iLikeMathsSvg .st111 {
  stroke: currentColor;
  stroke-width: 9.0961;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
